*
{list-style: none;}

.hero-image{
    background-image: url("");
    height: 350px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero{
    color:rgb(0, 7, 13);
    border-bottom:3px solid purple ;
    background-color: rgb(151, 82, 148);
}

ul.nav{display:flex; 
    gap: 20px;
    margin-right: 15px;
    rgb:rgb(205, 79, 167); 
    border: 1px solid rgb(130, 13, 13);
    padding: 10px 15px;
    text-decoration: none; }

    ul.nav a{display:flex; 
    margin-right: 15px;
    rgb:rgb(205, 79, 167); 
    border: 1px solid rgb(130, 13, 13);
    padding: 10px 15px;
    text-decoration: none; 
    border-bottom: 5px solid rgb(183, 114, 114);}

p{line-height: 1.6; 
    font-size: 18px; 
    font-family: Garamond; 
    }

ul {color: purple;}

ul li {padding-bottom: 6px ;}


body{font-family:Calibri;}
body {background-color: rgb(231, 198, 228);}



h1{ color:rgb(12, 1, 13); font-family: cursive ;}
h1.ultcolor{color:rgb(135, 14, 85)}
  
ol{color: purple;}
ol li{padding-bottom: 0.5px; 
    /*padding: 30px; */
    border: 4px solid rgb (180,51, 180)}

  h2 h3 h4 h5 h6{color:rgb(16, 16, 40)}
  

  h1,h2,h3,h4,h5,h6 {font-family:Geneva;
   /*border: 1px solid rgb(27, 139, 139); 
   padding: 40px ;*/}

 /*.hero{background-image: url("/Assets/Ice_Cream.jpg"); 
 min-height: 1250px;}*/

 .Websites{ 
    padding: 15px ;
    font-family: 'Times New Roman', Times, serif; 
    color: rgb(138, 12, 77);}

   
   .flex-demo {

  

display: flex;

  flex-wrap: wrap;

  gap: 30px;

  padding: 10px;

  align-items: flex-start;

}

.flex-demo .card{


}

.card {

  background: rgb(214, 110, 183);

  border: 2px dotted rgb(68, 3, 71);

  color: white;

  flex: 0 0 250px;   

  box-sizing: border-box;

  padding:15px;

}



.card img {

    border-radius: 8px;

    height: 200px;

    width: 250px;

    object-fit: cover;

}

.card h4{
    color: white;
    margin: 12px 0 6px;
    font-size: 22px;
}

.card button{
    margin-top: auto;
    padding: 10px 12-x;
    border: 0;
    border-radius: 8px;
    cursor:pointer;
    font-family: Georgia, serif;
}

.grid-demo{
    display: grid;
    grid-template-columns: 33% 33%;
    gap: 20 px;
}

.grid-demo .card {


  background: rgb(164, 64, 145);

  border: 2px dotted rgb(78, 4, 55);

  color: rgb(234, 211, 211);

  flex: 0 0 250px;   

  box-sizing: border-box;

  padding: 15px;

}